* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1 {
    background-image: Url("home-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav {
    margin-left: 400px;
    display: flex;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-left: 30px;
}

a:hover {
    color: rgb(212, 190, 190);
    text-shadow: 1px 2px 1px black;
}

.contact-body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.cont {
    font-size: 36px;
    color: #333;
}

.pa {
    color: #777;
    font-size: 18px;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

#name,#email,#message {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
}

.buto {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.buto:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

h1 {
    color: white;
}

.search-body {
    background-image: url("search.png");
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
}

.search-bar {
    background-color: white;
    height: 50px;
    width: 500px;
    border-radius: 100px;
    margin-top: 180px;
    margin-left: 400px;
    font-size: 23px;
    padding: 25px;
    border: 2px solid black;
}

.logo {
    display: flex;
}

.icon {
    width: 35px;
    height: 40px;
    margin-top: 187px;
    margin-left: -70px;
}

.have-searched {
    margin-top: 20px;
    color: white;
    font-size: 47px;
    text-align: center;
}

.pic {
    margin-top: 20px;
    height: 230px;
    width: 350px;
    margin-left: 300px;
    border-radius: 15px;

}

.image_src {
    margin-top: 50px;
    height: 300px;
    width: 400px;
    border-radius: 15px;
}

.eye {
    position: absolute;
    height: 150px;
    margin-left: 30px;
}

#ing-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 220px;
    height: 50px;
    margin-top: -100px;
    margin-left: 677px;
}

.container {
    margin-left: 607px;
    height: fit-content;
    width: fit-content;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#ing-btn:hover {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background-color: #4A4A4A;
}

#ingredient-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 220px;
    height: 50px;
    margin-top: 200px;
    margin-right: 400px;
}

#ingredient-btn:hover {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background-color: #4A4A4A;
}

.aboutMe {
    background-image: url("About\ Me.png");
}

.rtarrow {
    cursor: pointer;
    margin-top: -200px;
    margin-left: 970px;
}

.para {
    margin-top: 150px;
    margin-left: 220px;
    font-size: 27px;
    width: 810px;
    color: white;
    line-height: 35px;
}

.rand-body {
    background-repeat: no-repeat;
    display: block;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url("Random\ choice.png");
    background-size: cover;
}

.item-name {
    font-family: Arial, sans-serif;
    margin-top: 10PX;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    line-height: 37px;
    text-shadow: 5px 3px 1px black;
}

.center {
    width: 1000px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
}

.right {
    margin-top: 230px;
    margin-left: 80px;
    cursor: pointer;
}

.left {
    margin-top: 230px;
    margin-right: 80px;
    cursor: pointer;
}

.ac {
    justify-content: center;
    display: flex;
}

.area {
    font-size: 40px;
    color: white;
    text-shadow: 2px 1px 2px black;
}

.category {
    color: white;
    font-size: 40px;
    /* margin-top: 100px; */
    text-shadow: 2.2px 2px 1px black;
    margin-left: 30px;
}

.main1 {
    margin-top: 180px;
}

.menu-body {
    background-repeat: no-repeat;
    overflow-y: scroll;
    background-image: url("Menu.png");
    background-size: cover;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
}

.cart {
    border: 3px solid black;
    border-radius: 10px;
    font-size: x-small;
    text-align: center;
    padding: 3px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    transform: scale(0.99);
}

.title {
    font-size: 30px;
    text-shadow: 2px 1px 2px black;
    color: white;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
    color: white;
    font-size: 15px;
}

.cart:hover {
    background-color: rgb(82, 82, 82);
    cursor: pointer;
}

.top {
    font-family: cursive;
    margin-top: 30px;
    font-size: 40px;
    display: flex;
    text-shadow: 2px 1px 2px black;
    color: white;
    justify-content: center;
    margin-left: 100px;
    font-weight: 800;
}

.modal {
    position: fixed;
    top: 52.3%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
    background: rgba(161, 161, 161, 0.5);
    z-index: 10;
    width: 40vw;
    height: 70vh;
    border-radius: 20px;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25em;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
}

#popupImage {
    margin-left: 10%;
    width: 30vw;
    height: 40vh;
    margin-top: 20px;
    border-radius: 20px;

}

.popup-text {
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 1px black;
    text-align: center;
    font-size: 1.5rem;
    margin: 5%;
}

.navBar{
    position: absolute;
    margin-top: -370px;
    font-size: 27px;
    margin-left: 30px;
    cursor: pointer;
}
.navBar2{
    position: absolute;
    margin-top: 20px;
    font-size: 27px;
    cursor: pointer;
}
.navBar1{
    position: absolute;
    margin-top: -20px;
    font-size: 23px;
    cursor: pointer;
}
.rand_search, .rand_home{
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 1px white;
    list-style-type: none;
    text-decoration: none;
    margin-left: 30px;
}
.rand_search1, .rand_home1{
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 1px white;
    list-style-type: none;
    text-decoration: none;
    margin-left: 30px;
}
.search_menu, .search_home{
    list-style-type: none;
    text-decoration: none;
    margin-left: 30px;
    color: white;
    text-shadow: 1px 2px 1px black;
}
.search_menu:hover{
    color: rgb(177, 174, 174);
    text-shadow: 1px 2px 1px rgb(255, 255, 255);

}
.search_home:hover{
    color: rgb(177, 174, 174); 
    text-shadow: 1px 2px 1px rgb(255, 255, 255);
}
.rand_search:hover{
    color: white;
    text-shadow: 1px 2px 1px black;
}
.rand_home:hover{
    color: white;
    text-shadow: 1px 2px 1px black;
}
.rand_search1:hover{
    color: white;
    text-shadow: 1px 2px 1px black;
}
.rand_home1:hover{
    color: white;
    text-shadow: 1px 2px 1px black;
}
.navBar3{
    position: absolute;
    font-size: 23px;
    cursor: pointer;
    margin-top: -150px;
    margin-left: 20px;
}
.navBar4{
    font-size: 23px;
    cursor: pointer;
    text-shadow: 1px 2px 1px rgb(147, 147, 147);

}
.contact_home{
    font-size: 23px;
    color: black;
    list-style-type: none;
    text-decoration: none;
}
.about_home{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.contact_home:hover{
    color: black;
    text-shadow: 1px 2px 1px rgb(95, 94, 94);
}

@media all and (max-width:700px){
    .nav{
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav a{
        font-size: 11px;
        margin-left: 20px;
    }
    .rand_home, .rand_search{
        margin-top: -15px;
        display: block;
        font-size: 15px;
        margin-left: 10px;
    }
    .body1{
        overflow: hidden;
        background-image: url(Home\ Page\ respon.png);
        background-size: cover;
    } 
    .top{
        font-size: 20px;
        margin-left: 100px;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
    }
    .image_src{
        margin-top: 20px;
        display: inline-block;
        width: 150px;
        height: 150px;
    }
    .aboutMe{
        overflow: hidden;
        background-image: url("About\ Me\ respon.png");
        background-repeat: no-repeat;
    }
    .para{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        line-height: 20px;
        margin-left: 15%;
        font-size: 18px;

    }
    .rand-body{
        overflow: hidden;
        background-image: url('Random\ choice\ respon.png');
        background-attachment: fixed;
    }
    .center{
        margin: 0;
        padding: 0;
    }
    .left, .right{
        width: 40px;
    }
    .left{
        margin-right: 0px;
        margin-top: 180px;
    }
    .right{
        margin-left: 2px;
        margin-top: 180px;
    }
    .area, .category{
        font-size: 20px;
    }
    .item-name{
        font-size: 30px;
    }
    .main1{
        width: 200px;
        margin-top: 80px;
    }
    .rand_home1, .rand_search1{
        font-size: 15px;
        display: block;
        margin-left: 0;
    }
    .rand_home1{
        margin-top: 200px;
    }
    .navBar3{
        margin-top: -117px;
        text-shadow: 1px 2px 1px rgb(255, 255, 255);
    }
    .contact_home{
        font-size: 20px;
    }
    .search-body{
        background-image: url('search\ respon.png');
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
    }
    .search_home, .search_menu{
        font-size: 15px;
        justify-content: space-between;
    }
    .navBar2{
        margin-top: 20%;
    }
    .search_home{
        margin-top: 100px;
    }
    .search-bar{
        margin-top: 40%;
        margin-left: 30%;
        font-size: 14px;
        width: 200px;
        display: flex;
        height: 20px;
        justify-content: center;
        align-items: center;
    }
    .icon{
        width: 15px;
        height: 18px;
        margin-left:-25px;
        margin-top: 45%;
    }
    .pic{
        height: 100px;
        width: 100px;
        margin-left: 30%;
    }
    .eye{
        display: none;

    }
    .rtarrow{
        position: fixed;
        margin: 0;
        width: 20px;
        margin-left: 80%;
        margin-top: -30%;
    }
    .have-searched{
        margin-top: 23px;
        font-size: 25px;
        display: block;
        justify-content: center;
    }
    #ing-btn{
        margin: 0;
        margin-top: 7%;
        width: 150px;
        height: 30px;
        font-size: 11px;
        margin-left: 25%;
    }
    .modal{
        width: 70vw;
        height: 70vh;
    }
    #popupImage{
        width: 40vw;
        height: 30vh;
        margin-left: 17%;
    }
    .popup-text{
        font-size: 17px;
    }


}

